name: Flutter Build (Beginner)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Flutter app
      run: docker build -t flutter-hello .
